# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
*.iml
*.ipr
*.iws
/dist/
.cache
/.idea
.idea/
build/
.gradle/
.scannerwork/

